<html>
<head>
	<title> crear_p </title>
</head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
	<center></br>
			<form action="/agregar_p" method="POST">
			<input type="text" name="Nombre" placeholder="Nombre" value=""><br/><br/>
			<input type="text" name="Edad" placeholder="Edad" value=""><br/><br/>
			<input type="text" name="Rut" placeholder="Rut" value=""><br/><br/>
			<input type="text" name="Genero" placeholder="Genero" value=""><br/><br/>
			<input type="text" name="Region" placeholder="Region" value=""><br/><br/>
			<input type="text" name="Precio" placeholder="Precio del Boleto" value=""><br/><br/>
			<input type="text" name="Via" placeholder="Via de compra" value=""><br/><br/>
			<input type="submit" class="w3-button w3-green" style="font-size: 20px" >
			</form>
			<a href="/ver_boletos" class="w3-button w3-green"> Ver los boletos </a><br><br>
			<a href="/volver" class="w3-button w3-green"> Volver </a><br/><br/>
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th> ID </th>
						<th> Nombre </th>
						<th> Edad </th>
						<th> Rut </th>
						<th> Borrar </th>
					</tr>
				</thead>
				<tbody>
					<% for (var i = 0; i < data.length; i++) { %>
						<tr>
							<td> <%= data[i].P_ID %> </td>
							<td> <%= data[i].NOMBRE %> </td>
							<td> <%= data[i].EDAD %> </td>
							<td> <%= data[i].RUT %> </td>
							<td> 
								<a href="/borrar_p/<%= data[i].P_ID %>" class="btn btn-danger"> Borrar </a>
							</td>
						</tr>
						<% } %>
				</tbody>

			</table>
	</center>
</body>
</html>